﻿body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../Images/bg.jpg') no-repeat;
    /*background-image: url('../Images/bg.jpg');*/
    background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.input{
  border: none;
  outline: none;
  background: grey;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 0;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 10px 0;
}
.form-group{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  /*border-bottom: 1px solid #4caf50;*/
}
.btn{
  width: 80%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}