﻿@model IEnumerable<Metrica.Models.Registration>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <p>No Registration request.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <th>Name</th>
            <th>Email</th>
        </thead>
        
        <tbody>
            @foreach (var registration in Model)
            {
                <tr>
                    <td>@Html.ActionLink(registration.Name, "Edit", "Registration", new { id = registration.Id }, null)</td>
                    <td>@registration.Email</td>
                </tr>
            }
        </tbody>
    </table>
}