﻿@model Metrica.ViewModel.RegistrationFormViewModel
@{
    ViewBag.Title = "RegistrationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Form</h2>
@using (@Html.BeginForm("Save", "Registration"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Registration.Name)
        @Html.TextBoxFor(m => m.Registration.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registration.PresentAddress)
        @Html.TextBoxFor(m => m.Registration.PresentAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.PresentAddress)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registration.PermanentAddress)
        @Html.TextBoxFor(m => m.Registration.PermanentAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.PermanentAddress)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registration.Email)
        @Html.TextBoxFor(m => m.Registration.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registration.PhoneNo)
        @Html.TextBoxFor(m => m.Registration.PhoneNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.PhoneNo)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registration.SkypeId)
        @Html.TextBoxFor(m => m.Registration.SkypeId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.SkypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Registration.Role)
        @Html.TextBoxFor(m => m.Registration.Role, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Registration.Role)
    </div>
    
    @Html.HiddenFor(r => r.Registration.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

