﻿
@model Metrica.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Login</h2>*@


@using (@Html.BeginForm("Login", "Login"))
{
    <div class="login-box">
        <h1>Login</h1>
        <div class="form-group">
            @Html.LabelFor(l =>l.UserName)
            @Html.TextBoxFor(l => l.UserName, new { @class = "form-control input" })
            @Html.ValidationMessageFor(l => l.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(l => l.Password)
            @Html.PasswordFor(l => l.Password, new { @class = "form-control input" })
            @Html.ValidationMessageFor(l => l.Password)
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </div>
}

@Styles.Render("~/Content/LoginStyle.css")